.DefaultTable{
    align-items: center;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.Table-title{
    align-items: center;
    border: 2px solid #ccc;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 0;
    width: 99%;
}

.DefaultTable > div{
    margin: 0 auto;
    width: 99%;
}
.DefaultTable > div > .tableContainer{
    border: 2px solid #ccc;
    margin: 5px auto;
    padding: 5px;
}