.navBar{
  background-color: white;
  box-shadow: 0 8px 15px -6px black;
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navBar .navBar-content{
  align-items: center;
  display: flex;
  height: inherit;
  margin: 0 auto;
  width: 75%;
}

.navBar .navBar-content > div{
  flex: 1;
}

.navBar .navBar-content > ul {
  display: flex;
  flex: 8;
  height: inherit;
  justify-content: space-between;
}
.navBar .navBar-content > ul > li {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  width: 170px;
}

.navBar .navBar-content > ul > li > p::before{
  content: '\f107';
  font-family: "FontAwesome";
}