.navBar{
  background-color: white;
  box-shadow: 0 8px 15px -6px black;
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navBar .navBar-content{
  align-items: center;
  display: flex;
  height: inherit;
  margin: 0 auto;
  width: 75%;
}

.navBar .navBar-content > div{
  flex: 1;
}

.navBar .navBar-content > ul {
  display: flex;
  flex: 8;
  height: inherit;
  justify-content: space-between;
}
.navBar .navBar-content > ul > li {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  position: relative;
  transition: .3s ease;
  width: 170px;
}
.navBar .navBar-content > ul > li:hover{
  border-bottom: 3px solid rgb(0,19,48);
  padding-top: 3px;
  z-index: 999;
}

.navBar .navBar-content > ul > li > a{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.navBar .navBar-content > ul > li > a:hover{
  text-shadow: .2px .2px .2px ;
}
.navBar .navBar-content > ul > li > p > i{
  margin-left: 10px;
}

.navBar .navBar-content > ul > li:hover .subLinkContainer{
  display: block;
}

.navBar .navBar-content > ul > li > .subLinkContainer{
  display: none;
  position: absolute;
  top: 107%;
  width: 100%;
}

.navBar .navBar-content > ul > li > .subLinkContainer > li {
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
  transition: .3s ease;
  width: 100%;
}

.navBar .navBar-content > ul > li > .subLinkContainer > li:hover {
  background-color: rgb(160,207,254);
  

}
.navBar .navBar-content > ul > li > .subLinkContainer > li:hover a{
  text-shadow: .2px .2px .2px 
}

.navBar .navBar-content > ul > li > .subLinkContainer > li > a{
  color: #001330;
  display: flex;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}


@media(max-width: 1024px) {
  .navBar .navBar-content{
    width: 90%;
  }
  .navBar .navBar-content > ul > li {
    width: 20%;
  }
  .navBar .navBar-content > ul > li{
    font-size: 12px;
  }
}