.patent-database-table{
    border: 2px solid #ccc
}

.tabList{
    border: 2px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
}

.tabList button{
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin: 8px auto;
    outline: none;
    padding: 20px 150px;
    text-align: center;
    transition: .20s ease;
}

.tabList button.true{
    background-color: red;
}

.tabList button:hover{
    border: 2px solid #000220;
}
.tabList button:active{
    background-color: #000220;
    color: white;
    transform: translateY(5px);
}

.patentesContainer{
    border: 2px solid #ccc;
    margin: 5px auto;
    padding: 5px;
}

.patentesContainer p{
    margin: 15px 0;
}

.patentesContainer .resumeItem{
    margin: 20px 0;
}